@import '../../CSSutils/variables.scss';

.container {
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;

  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 71px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $backgroundHero;
  background-image: url('../../img/imageBackGround.jpg');
  background-size: cover;

  color: $mainWhite;
  text-align: center;

  @media screen and (min-width: $mobile) {
    width: $mobile;
  }

  @media screen and (min-width: $tablet) {
    width: $tablet;
    padding: 89px 194px 88px 194px;
  }

  @media screen and (min-width: $pcSizeM) {
    width: $pcSizeM;
    padding: 164px 322px 163px 322px;
  }
  @media screen and (min-width: $pc) {
    width: 1170px;
    padding: 164px 395px 163px 395px;
  }
}

.title {
  margin-bottom: 21px;
  font-size: $TitleFontSize;
  font-weight: 400;
}

.content {
  margin-bottom: 32px;
}
