@import 'variables';

.wrapper {
  text-align: center;
}

.list {
  margin-top: 50px;
  margin-bottom: 50px;

  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  @media screen and (min-width: 768px) {
    gap: 16px;
  }
}

.list_item {
  padding: 20px;
  width: 328px;
  height: 254px;
  border-radius: 10px;

  text-align: center;
  background-color: $mainWhite;

  @media screen and (min-width: 768px) {
    width: 344px;
  }

  @media screen and (min-width: 1024px) {
    width: 282px;
  }
  @media screen and (min-width: 2560px) {
    width: 370px;
  }
}

.image {
  display: inline-block;
  margin-bottom: 20px;
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.tooltip__wrapper {
  position: relative;
  cursor: pointer;
}
.user_name {
  margin-bottom: 20px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.user_name[tooltip]:hover:after,
.text[tooltip]:hover:after {
  content: attr(tooltip);
  position: absolute;
  top: 47px;
  left: 50%;
  transform: translateX(-16px);
  background-color: $textColor;
  color: $mainWhite;
  padding: 3px 16px;
  border-radius: 4px;
  overflow: visible;
}
