@import 'variables';

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  margin-top: 50px;
}

.list_item {
  padding: 20px;
  width: 328px;
  height: 254px;
  border-radius: 10px;

  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 20px;

  background-color: $mainWhite;
  text-overflow: ellipsis;
}

.image {
  display: inline-block;
  border-radius: 50%;
  width: 70px;
  height: 70px;
}
