@import '../../../CSSutils/variables.scss';

.input_file {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  .label_file {
    display: flex;
    margin-top: 47px;
    margin-bottom: 50px;
  }
  
  .upload {
    padding: 14px 15px;
    width: 83px;
    height: 54px;
    border: 1px solid $textColor;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  
  .upload_file {
    padding: 16px 14px;
    color: $placeholderText;
    width: 243px;
    height: 54px;
    border: 1px solid $inputBorder;
  }
  