@import '../../CSSutils/variables.scss';


.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 17px;
  padding-bottom: 17px;
}

.logo {
  cursor: pointer;
}

.authNav {
  display: flex;
  width: 210px;
  gap: 10px;
  color: $primaryColor;
}
