@import '../../CSSutils/variables.scss';

.form {
  margin-top: 50px;

  @media screen and (min-width: $tablet) {
    padding-left: 162px;
    padding-right: 162px;
  }

  @media screen and (min-width: $pcSizeM) {
    padding-left: 262px;
    padding-right: 262px;
  }

  @media screen and (min-width: $pc) {
    padding-left: 395px;
    padding-right: 395px;
  }
}
