// fonts
$mainFontSizes: 16px;
$TitleFontSize: 40px;
$fonts: 'Nunito';

// colors
$primaryColor: #f4e041;
$secondaryColor: #00BDD3;
$backgroundColor: #F8F8F8;
$hoverBtnColor: #FFE302;
$disabledBtnColor: #B4B4B4;
$textColor: #000000DE;
$placeholderText: #7E7E7E;
$inputText: #535353;
$mainWhite: #FFFFFF;
$backgroundHero:#00000080;

// Breakpoints :
$mobile: '360px';
$tablet: '768px';
$pcSizeM: '1024px';
$pc: '2560px';
